/*variables start */
$red:#DD1C1A;
$blue:#225560;
$dk_blue:#003459;
$black:#171D1C;
$white:#FFFFFF;
$lt_blue:#5863F8;
$lt_yellow:#F3DE8A;
$dk_black:#020202;
$lt_green:#16DB65;
$green:#058C42;
$l_pink:#3B5249;

$d_blue:#022B3A;

$s_black:#07070A;

$l_blue:#247BA0;







