/*variables start */
$red:#DD1C1A;
$blue:#225560;
$dk_blue:#003459;
$black:#171D1C;
$white:#FFFFFF;
$lt_blue:#5863F8;
$lt_yellow:#F3DE8A;
$dk_black:#020202;
$lt_green:#16DB65;
$green:#058C42;


/*start of mixins */

@mixin func1($x){
	float:$x;	
}

@mixin func2($y){
	text-align:$y;
}

@mixin func3($z){
	display :$z;
}

@mixin func4($u){
	width:$u;
}

/*mixin end */





body{
	@include func4(100%);
	overflow-x:hidden;
}


.navbar{

	a{

	   color:$dk_blue;
	   font-size : 3 em;

	}
}

.display-4{
	color:$lt_blue;
	@include func2(center);
	font-size:2 em;

}


a{
	@include func1(center);
}

.btn{
	@include func1(center);
}

.jumbotron{
		color:$black;
		background-color:$white;
		background:url('/images/hero.png');

}
.lead{
	@include func2(center);
	color:$white;
}

.parent{
	@include func3(flex);
	justify-content:center;

}


.card-text{
	font-weight:bold;
}

.btn-group{
	@include func4(100%);
}

.signup{
	@include func4(60%);
	margin:auto;
}

.form-inline{
    @include func4(30%);
    align-content:center;
	margin:auto;
}

.sr-only{
	@include func4(100%);}

.card-title{
	@include func2(center);}

.subscribe{
	@include func4(70%);
	margin:auto;
}

.follow{
	@include func3(flex);
	flex-direction:row;
	justify-content:space-between;
}

.follow li{
	display:inline;
	list-style:none;
}

.card-text{
	@include func2(center);
}

.footer{
	background-color:$black;
	color:$white;
	@include func2(center);
	@include func3(flex);
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	background: url('/images/footer.jpg');
	background-size:cover;

}

.follow{
	@include func3(flex);
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;


}

#f_3{
	margin-top:20px;
    }
#f_2{
	margin-top:15px;
}

#f_1{
	margin-top:10px;
}

/*media queries */

@media screen and (max-width:600px){
	.follow{
	    @include func3(flex);
	    flex-direction:column;
	}
	.follow #f_1,#f_2{
		flex:100%;
		max-width: 100%;

	}

}








