
.navbar{


	a{

	   color:$dk_blue;
	   font-size : 3 em;

	}

	.navbar-brand{
	font-size:2em;
	color:$blue;
	}
}

.jumbotron{
		color:$black;
		background-color:$white;
		background:url('/images/hero.png');

}




.footer{
	background-color:$s_black;
	color:$white;
	@include func2(center);
	@include func3(flex);
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	background-size:cover;

}

